
main{
    width: 100%;
    background: linear-gradient(var(--cambri), var(--pale), var(--june));
    height: 100vh;
    position: relative;
}

main .center{
    width:  50%;
    max-width: 713px;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    padding-top: 60px;
}

.button{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 45px;
    position: relative;
    margin-top: 15px;
}

section{
    cursor: pointer;
    transition: 0.5s;
}

.button.left > section{
    width: 38px;
    height: 38px;
    margin-left: 7px;
    background: url("../../assets/seta-esquerda.svg") no-repeat center/cover;
    
}



.button.right> section{
    width: 38px;
    height: 38px;
    margin-right: 7px;
    margin-left: -2px;
    background: url("../../assets/seta-direita.svg") no-repeat center/cover;

}

.button section:hover{
    width: 45px;
    height: 45px;
}

.button.left > section:hover{
    margin-left: 0;
}

@media screen and (max-width:1000px){
    main .center{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    main .center{
        width: 100%;
        flex-direction: column;
        padding: 0 3%;
        padding-top: 60px;

        position: relative;
    }

   .button{
       display: none;
   }
   
}

@media screen and (max-width: 460px) and (max-height: 600px){
    main .center{
        height: 500px;
    }
}

@media screen and (min-width: 501px) and (max-height:600px){
    main .center{
        margin: 0 auto;
        height: 500px;
        max-width: 650px;
    }

}

@media screen and (max-height: 600px){
    main{
        height: auto;
        position: static;
    }

   main .center{
    position: static;
    transform: translate(0, 0);

    display: flex;
    padding: 90px 3%;
   }
}
